.noDecoration{
    text-decoration: none !important;
    color: green;
}

html.sub {
    background: url(../src/img/background-1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header{
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-box{
    border: solid 1px blue;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}
.logo{
    width: 30%;
    height: 100%;

}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 4px 2px;
    cursor: pointer;
}

.logo img{
    border: solid 1px yellow;
    max-width: 100%;
    max-height: 100%;
    margin: 5% 0 2%;
}

.menu-box {
    border: solid 1px red;
    width: 70%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;

}
.menu{
    border: solid 1px pink;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;

}

.menu li {
    border-right: 1px solid #e7e7e7;
    text-align: center;
    padding: 14px 16px;



}
.menu li a {
    text-decoration: none;
    color: green;
}
.menu li:hover{
    color: #00cc00;
    cursor: pointer;
    background-color: #f2f2f2;
}


.login-panel{
    border: solid 1px black;
    margin-left: auto;
    position: relative;
    width: 40%;
    height: 30px;
    text-align: center;
    color: green;
    font-size: 70%;

}
.login-panel:hover{
    background-color: #f2f2f2;
}

.login-panel p{
    display: inline-block;
    padding: 5px;
    margin: 0;
}
.login-panel p:hover {
    color: #00cc00;
    cursor: pointer;

}



@media (max-width: 767px) {
    .logo {
        display: none;
    }
}

section.image {
    height: 70vh;
}
.container {
    background-color: #fff;
}

.container .content {
    max-width: 1100px;

    padding: 20px 20px;
    margin: 0 auto;
    background-color: #e7e7e7;
    display: flex;
    margin: 0 auto;
}
.container .content .box {
    padding: 40px;
}
.container .content img {
    max-width: 15vh;
    max-height: 15vh;
    margin: 3vh;
}
.containerSubpage{
    margin-top: 150px;
}
.containerSubpage .content{
    max-width: 1100px;
    min-height: 30vh;
    padding: 20px 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background: white;

}
.title{
    width: 100%;
    height: 5vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerSubpage .content .title span{


}
.containerSubpage .content .map-box{
    width: 35%;
}

.containerSubpage .content .map-box .map{
    max-width: 90%;
    height: 30vh;
    margin: 5% auto;
}
.containerSubpage .content .contact{
    margin: 10px auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;

}
.containerSubpage .content .contact p{
    margin: 1%;
    padding: 1vh;
    border-radius: 25px;
    border: 2px solid #73AD21;
    width: 19vh;
    min-width: 200px;
    font-size: 16px;
    color: #73AD21;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.containerSubpage .content .contact p img{
    max-width: 5vh;
    max-height: 5vh;
    margin: 3vh;


}
.containerSubpage .content .contact p span{
    text-align: center;
    margin: 0 1vw;
}

@media (max-width: 767px) {
    .containerSubpage .content .map-box{
        width: 0;
        margin: -150px;
    }
    .containerSubpage .content .contact p{
        width: 100%;

    }
}

.containerSubpage .content .products{

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.containerSubpage .content .products p{
    margin: 10px auto;
    padding: 10px;
    width: 33vh;
    min-width: 20%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    font-size: 16px;
    color: white;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.containerSubpage .content .products p img{
    max-width: 5vw;
    margin: 1vw;

}
.containerSubpage .content .products p span{
    text-align: center;
    color: #73AD21;
    margin: 0.5vw 1vw;
}

@media (max-width: 767px) {
    .containerSubpage .content .products{
        flex-direction: column;
    }
    .containerSubpage .content .products p{
        width: 80%;
    }
}

.containerSubpage .content .left-menu-box{
    min-width: 25%;

}
.containerSubpage .content .left-menu-box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
.containerSubpage .content .left-menu-box li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.containerSubpage .content .left-menu-box li a.active{
    background-color: #4CAF50;
    color: white;
}
.containerSubpage .content .left-menu-box li a:hover:not(.active){
    background-color: lightgray;
    color: white;

}
.containerSubpage .content .course{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.containerSubpage .content .course p{
    margin: 1%;
    padding: 1vh;
    width: 20vh;
    border-radius: 25px;
    border: 2px solid #73AD21;
    font-size: 16px;
    color: #73AD21;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.containerSubpage .content .course p:hover{
    background-color: lightgray;

}
.containerSubpage .content .course p img{
    max-width: 10vh;
    max-height: 10vh;
    margin: 3vh;
    border: 1px black solid;

}
.containerSubpage .content .course p span{
    text-align: center;
    margin: 0 1vw;
}


.containerSubpage .content .lesson{
    background-color: gray;
    width: 70%;
}